.user-page-content {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  transition: margin-right 0.3s ease;
}

.user-page-content.edit-sidebar-open {
  margin-right: 200px;
}

edit-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
}
