.user-page-content {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  transition: margin-right 0.3s ease;
}

.user-page-content.edit-sidebar-open {
  margin-right: 200px;
}
