::ng-deep .NgxEditor {
  --ngx-editor-background-color: none;
  --ngx-editor-text-color: #94a3b8;
  --ngx-editor-border-color: none;
}

.text-widget {
  overflow-y: auto;
  height: 100%;
  margin: 0 10px;
}

.text-widget::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.text-widget::-webkit-scrollbar-track {
  background: #1e293b;
  border-radius: 4px;
}

.text-widget::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 4px;
  border: 2px solid #1e293b;
}

.text-widget::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}

.text-widget::-webkit-scrollbar-corner {
  background: #1e293b;
}

.widget-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.widget-placeholder-caption {
  margin: 0;
  color: #64748b;
  text-align: center;
}

::ng-deep text-widget .NgxEditor__Content--Disabled {
  overflow-wrap: break-word;
  word-break: break-word;
}
