<div class="chart-widget-editor">
  <label>Тип графика:</label>
  <select [value]="widget.chartType" (change)="setChartType($event)">
    <option value="bar">Гистограмма (Bar Chart)</option>
    <option value="scatter">Точечный график (Scatter Chart)</option>
  </select>

  <br /><br />

  <label>Загрузить CSV файл:</label>
  <input type="file" (change)="handleFileInput($event)" accept=".csv" />

  <br /><br />

  <label *ngIf="widget.chartType === 'bar' && csvHeaders.length > 0"
    >Выберите признак:</label
  >
  <select
    *ngIf="widget.chartType === 'bar' && csvHeaders.length > 0"
    (change)="onFeatureSelect('single', $event)"
  >
    <option value="" disabled [selected]="!selectedFeatures['single']">
      -- Выберите --
    </option>
    <option *ngFor="let header of csvHeaders" [value]="header">
      {{ header }}
    </option>
  </select>

  <label *ngIf="widget.chartType === 'scatter' && csvHeaders.length > 0"
    >Выберите X-признак:</label
  >
  <select
    *ngIf="widget.chartType === 'scatter' && csvHeaders.length > 0"
    (change)="onFeatureSelect('x', $event)"
  >
    <option value="" disabled [selected]="!selectedFeatures['x']">
      -- Выберите --
    </option>
    <option *ngFor="let header of csvHeaders" [value]="header">
      {{ header }}
    </option>
  </select>

  <label *ngIf="widget.chartType === 'scatter' && csvHeaders.length > 0"
    >Выберите Y-признак:</label
  >
  <select
    *ngIf="widget.chartType === 'scatter' && csvHeaders.length > 0"
    (change)="onFeatureSelect('y', $event)"
  >
    <option value="" disabled [selected]="!selectedFeatures['y']">
      -- Выберите --
    </option>
    <option *ngFor="let header of csvHeaders" [value]="header">
      {{ header }}
    </option>
  </select>

  <br /><br />

  <label>Цвет линии:</label>
  <input
    type="color"
    [value]="widget.lineColor || '#4bc0c0'"
    (change)="onParamChange('lineColor', $event)"
  />

  <br /><br />

  <label>Толщина линии:</label>
  <input
    type="number"
    min="1"
    max="10"
    [value]="widget.lineWidth || 1"
    (change)="onParamChange('lineWidth', $event)"
  />

  <br /><br />

  <label>
    <input
      type="checkbox"
      [checked]="widget.showLegend ?? true"
      (change)="onParamChange('showLegend', $event)"
    />
    Показать легенду
  </label>

  <br />

  <label>
    <input
      type="checkbox"
      [checked]="widget.showGrid ?? true"
      (change)="onParamChange('showGrid', $event)"
    />
    Показать сетку
  </label>
</div>
