.edit-sidebar-conteiner {
  position: fixed;
  box-sizing: border-box;
  right: -200px;
  top: 0;
  width: 200px;
  height: 100vh;
  transition: right 0.3s ease;
}

.edit-sidebar-conteiner.open {
  right: 0;
}
