.editor-container {
  padding: 1rem;
  background-color: #1e293b;
  border-radius: 8px;
}

.editor-title {
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: bold;
  color: #e2e8f0;
}

::ng-deep .NgxEditor__MenuBar {
  --ngx-editor-menubar-bg-color: #1e293b;
  --ngx-editor-menu-item-hover-bg-color: #334155;
  --ngx-editor-menu-item-active-bg-color: #334155;
  --ngx-editor-popup-bg-color: #1e293b;
  gap: 1rem 0.3rem !important;
  color: #94a3b8;
}

::ng-deep .NgxEditor__Dropdown .NgxEditor__Dropdown--Active {
  color: #3b82f6;
}

::ng-deep .NgxEditor__MenuItem .NgxEditor__MenuItem--Active {
  border: 1px solid #3b82f6;
}

::ng-deep .NgxEditor__MenuItem--Button {
  margin-top: 10px !important;
  background-color: #1e293b;
  border: 1px solid #94a3b8;
  color: #94a3b8;
  border-radius: 5px;
}

::ng-deep .NgxEditor__MenuItem--Button:hover {
  background-color: #334155;
  border: 1px solid #3b82f6;
  color: #3b82f6;
}

::ng-deep .NgxEditor__Popup {
  width: 130px !important;
  box-sizing: border-box;
  left: -30px;
  min-width: 130px !important;
}

::ng-deep .NgxEditor__ColorContainer {
  flex-wrap: wrap;
}
