/* @import "~ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-alpine.css";
@import "~ag-grid-community/styles/ag-theme-alpine-dark.css";
@import "~ag-grid-community/styles/ag-theme-balham.css";
@import "~ag-grid-community/styles/ag-theme-balham-dark.css";
@import "~ag-grid-community/styles/ag-theme-material.css"; */

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: #0f172a;
  color: #e2e8f0;
}
