/* Основной контейнер сетки */
gridster {
  display: block;
  height: 100vh;
  width: 100%;
  background-color: #0f172a;
}

/* Панель кнопок */
.action-btn {
  opacity: 0;
}

gridster-item:hover .action-btn {
  opacity: 1;
}

/* Элементы сетки */
gridster-item {
  background-color: #1e293b;
  border: 1px solid #334155;
}

gridster-item:hover {
  border-color: #3b82f6;
}

gridster-item.gridster-item-moving {
  opacity: 0.8;
  transform: scale(1.02);
  z-index: 1000;
}
